html {
    font-size: 16px;
    font-family: $font-primary;
}
a {
    color: $color-primary;
    text-decoration: none;
    transition: all 0.275s;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &.underline {
        text-decoration: underline;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container {
    width: 1439px;
}
.bg-light-grey {
    background: #f5f5f5;
}
.bg-dark-grey {
    background: #1b1b1b;
}
.btn {
    font-family: $font-primary;
    font-size: 1rem;
    padding: 15px 23px;
    line-height: 100%;
    display: inline-block;
    transition: all 0.275s;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &-action {
        color: #ffffff;
        background: #190f14;
        border: 1px solid #190f14;
        &:hover,
        &:focus {
            color: #000000;
            background: #f5f5f5;
            border: 1px solid #000000;
        }
        &--outline {
            color: #000000;
            background: #f5f5f5;
            border: 1px solid #000000;
            &:hover,
            &:focus {
                color: #ffffff;
                background: #190f14;
                border: 1px solid #190f14;
            }
        }
    }
    &-primary {
        color: #000000;
        background: #dbd3cb;
        border: 1px solid #dbd3cb;
        &:hover,
        &:focus {
            color: #ffffff;
            background: transparent;
            border: 1px solid #dbd3cb;
        }
    }
    &-secondary {
        color: #000000;
        background: #ffffff;
        border: 1px solid #ffffff;
        &:hover,
        &:focus {
            color: #ffffff;
            background: transparent;
            border: 1px solid #ffffff;
        }
    }
}
.titlelight {
    font-family: $font-light;
    font-size: 2.25rem;
    line-height: 2.875rem;
    &--white {
        color: #ffffff;
    }
    &--dark {
        color: #000000;
    }
}
.sublight {
    font-family: $font-light;
    font-size: 1rem;
    line-height: 1.625rem;
    &--white {
        color: #ffffff;
    }
    &--dark {
        color: #000000;
    }
}

/* HEADER */

.header-page {
    padding: 18px 0;
    background: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-header;
    .container {
        display: flex;
        align-items: center;
        position: relative;
    }
    .hld-nav {
        flex: 1 1 auto;
    }
    .logo {
        margin: 13px 0 14px 0;
    }
    .header-actions {
        display: flex;
        align-items: center;
        .bold,
        strong {
            margin-right: 48px;
            font-family: $font-medium;
            font-size: 0.875rem;
        }
        .btn {
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* HERO */

.hero {
    width: 100%;
    padding-top: 84px;
    min-height: 100vh;
    background-color: #212121;
    .container {
        position: relative;
        min-height: calc(100vh - 84px);
    }
    .hld-title {
        width: 55%;
        left: 32px;
        bottom: 128px;
        position: absolute;
        z-index: $zindex-video-text;
    }
    .title {
        margin-bottom: 16px;
        font-family: $font-primary;
        color: rgba(255, 255, 255, 0.5);
    }
    p {
        font-family: $font-light;
        font-size: 3.75rem;
        line-height: 107%;
        color: #ffffff;
    }
    .btn {
        margin-top: 48px;
    }
    .hero-video {
        position: absolute;
        overflow: hidden;
        top: 84px;
        left: 0;
        right: 0;
        bottom: 0;
        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            width: var(--video-width);
            height: var(--video-height);
            transform: translate(-50%, -50%);
            border: 0;
        }
    }
}

/* SECTION */

.section-intro,
.section-details,
.section-carousel,
.section-contact {
    padding: 104px 0;
}
.section-intro {
    .main-article {
        display: flex;
        flex-direction: column;
        &-gallery {
            display: flex;
            justify-content: space-between;
        }
        .hld-title {
            width: grid-span(5);
            &--1 {
                margin-bottom: 68px;
            }
            &--2 {
                margin-top: -119px;
            }
        }
        .title {
            margin-bottom: 16px;
            color: #ffffff;
            text-transform: uppercase;
            font-family: $font-light;
            font-size: 2.5rem;
            line-height: 110%;
            &--large {
                font-size: 3.75rem;
                line-height: 107%;
            }
        }
        p {
            font-family: $font-primary;
            font-size: 1.25rem;
            line-height: 120%;
            color: rgba(255, 255, 255, 0.5);
        }
        .hld-image {
            &--1 {
            }
            &--2 {
                margin-top: 60px;
            }
        }
        figure {
            figcaption {
                margin-top: 32px;
                font-family: $font-primary;
                font-size: 1rem;
                line-height: 143%;
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .btn {
            margin-top: 32px;
        }
    }
}
.section-details {
    .main-article {
        margin-bottom: 159px;
        display: flex;
        .hld-image {
            -ms-flex: 0 0 grid-span(7);
            flex: 0 0 grid-span(7);
        }
        .hld-data {
            flex: 0 1 100%;
        }
        .box {
            margin-left: -85px;
            padding: 0 117px 64px 117px;
            background: #1b1b1b;
            position: relative;
            z-index: $zindex-margin;
            .sublight {
                margin-bottom: 8px;
            }
        }
        .btn {
            margin-top: 48px;
        }
        &--reverse {
            flex-direction: row-reverse;
            .box {
                margin-left: 0;
                margin-right: -85px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.section-carousel {
    .hld-carousel {
        position: relative;
    }
    .hld-arrow {
        position: absolute;
        top: 40%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 1066px;
    }
    .arrow {
        width: 50px;
        height: 50px;
        background: #ffffff;
        position: absolute;
        top: 0;
        cursor: pointer;
        &-prev {
            left: -25px;
        }
        &-next {
            right: -25px;
        }
    }
    .carousel {
        margin: 0;
        padding: 0;
    }
    .carousel-item {
        width: 1066px;
        text-align: center;
        .image {
            margin: 76px auto 38px auto;
        }
        .title {
            font-family: $font-primary;
            font-size: 3rem;
            line-height: 108%;
        }
        p {
            font-family: $font-light;
            font-size: 0.875rem;
        }
        .item-details {
            margin: 48px auto;
            width: 50%;
            display: flex;
            justify-content: space-between;
            font-family: $font-light;
            font-size: 0.875rem;
            line-height: 1.25rem;
            .bold,
            strong {
                display: block;
                font-family: $font-medium;
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }
    }
    .slick-slide {
        opacity: 0.5;
        &.slick-current {
            opacity: 1;
        }
    }
}
.section-contact {
    .hld-title {
        margin: 0 auto;
        width: grid-span(4);
        margin-bottom: 64px;
        text-align: center;
        .sublight {
            margin-bottom: 8px;
        }
    }
}

/* FOOTER */

.footer-page {
    padding: 46px 0;
    background: #ffffff;
    border-top: 1px solid #d5d5d5;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    p {
        font-family: $font-light;
        font-size: 0.875rem;
    }
}
