@font-face {
    font-family: 'CupraRegular';
    src: url('../fonts/Cupra-Regular.eot');
    src: url('../fonts/Cupra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CupraBook';
    src: url('../fonts/Cupra-Book.eot');
    src: url('../fonts/Cupra-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CupraLight';
    src: url('../fonts/Cupra-Light.eot');
    src: url('../fonts/Cupra-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CupraMedium';
    src: url('../fonts/Cupra-Medium.eot');
    src: url('../fonts/Cupra-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
