@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }
    .header-page .header-actions {
        padding: 12px 0;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        & > * {
            margin: 5px 10px !important;
            width: calc(100% - 20px);
        }
    }
    .nav-main {
        flex-direction: column;
        width: 100%;
        font-size: 20px;
        line-height: 32px;
        li {
            margin: 0;
            padding: 12px 10px;
            text-align: left;
        }
    }
    .titlelight {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    .section-intro,
    .section-details,
    .section-carousel,
    .section-contact {
        padding: 56px 0;
    }
    .hero {
        .hld-title {
            width: grid-span(10);
        }
        p {
            font-size: 1.8rem;
        }
    }
    .section-intro .main-article {
        flex-direction: column;
        .col-1 {
            flex: 0 0 grid-span(12);
        }
        .col-2 {
            flex: 0 0 grid-span(12);
        }
        .hld-title {
            width: 100%;
        }
        .hld-title--2 {
            margin-top: 32px;
            margin-left: auto;
        }
        .hld-image--2 {
            margin-top: 32px;
        }
        .title {
            font-size: 1.5rem;
        }
        .title--large {
            font-size: 1.875rem;
        }
    }
    .section-details .main-article {
        margin-bottom: 22px;
        flex-direction: column;
        .hld-image {
            flex: 0 0 grid-span(12);
        }
        .box {
            margin-top: -15px;
            margin-right: 20px;
            margin-left: -15px;
            padding: 0 37px 24px 37px;
            .titlelight {
                font-size: 1.375rem;
                line-height: 1.625rem;
            }
        }
        &--reverse {
            .box {
                margin-right: -15px;
                margin-left: 20px;
            }
        }
    }
    .section-carousel {
        .hld-arrow {
            width: 310px;
        }
        .carousel-item {
            width: 310px;
            .title {
                font-size: 1.5rem;
            }
            .image {
                margin: 36px auto 18px auto;
            }
            p {
                margin: 0 auto;
                width: grid-span(10);
            }
            .item-details {
                width: grid-span(11);
                flex-direction: column;
                gap: 12px;
            }
        }
    }
    .section-contact .hld-title {
        width: grid-span(8);
    }

    .section-contact .hld-title {
        width: grid-span(11);
    }
    .contact-form {
        width: grid-span(12);
    }
    .options-group {
        .default {
            height: 55px;
            &:before {
                top: 18px;
            }
        }
        &.active {
            .default {
                &:before {
                    top: 24px;
                }
            }
        }
    }
    .options-group .select {
        top: 55px;
    }
    .options-group .option p {
        flex: 0 0 100px;
    }
    .options-group .option .icon {
        width: 150px;
        height: 48px;
        background-size: contain !important;
    }
    .footer-page {
        padding: 12px 0;
        .copyright {
            margin: 10px auto;
        }
        .nav-bottom {
            margin: 16px 0;
            flex-grow: 0;
            flex-basis: 100%;
            justify-content: center;
            display: flex;
        }
        .socialicons {
            margin: 12px auto;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 100%;
        max-width: 544px;
    }
    .header-page .header-actions {
        padding: 12px 0;
        width: 100%;
        justify-content: center;
    }
    .nav-main {
        flex-direction: column;
        width: 100%;
        font-size: 20px;
        line-height: 32px;
        li {
            margin: 0;
            padding: 12px 10px;
            text-align: left;
        }
    }
    .section-intro,
    .section-details,
    .section-carousel,
    .section-contact {
        padding: 56px 0;
    }
    .hero {
        .hld-title {
            width: grid-span(7);
        }
        p {
            font-size: 1.8rem;
        }
    }
    .section-intro .main-article {
        flex-direction: column;
        .col-1 {
            -ms-flex: 0 0 grid-span(12);
            flex: 0 0 grid-span(12);
        }
        .col-2 {
            -ms-flex: 0 0 grid-span(12);
            flex: 0 0 grid-span(12);
        }
        .hld-title--2 {
            margin-top: 32px;
            margin-left: auto;
        }
        .hld-image--2 {
            margin-top: 32px;
        }
    }
    .section-details .main-article {
        margin-bottom: 82px;
        flex-direction: column;
        .hld-image {
            -ms-flex: 0 0 grid-span(12);
            flex: 0 0 grid-span(12);
        }
        .box {
            margin-top: -45px;
            margin-right: 100px;
            margin-left: -45px;
            padding: 0 37px 24px 37px;
            .titlelight {
                font-size: 1.375rem;
                line-height: 1.625rem;
            }
        }
        &--reverse {
            .box {
                margin-right: -45px;
                margin-left: 100px;
            }
        }
    }
    .section-carousel {
        .hld-arrow {
            width: 530px;
        }
        .carousel-item {
            width: 530px;
            .image {
                margin: 36px auto 18px auto;
            }
            .item-details {
                width: grid-span(10);
            }
        }
    }
    .section-contact .hld-title {
        width: grid-span(8);
    }

    .section-contact .hld-title {
        width: grid-span(11);
    }
    .contact-form {
        width: grid-span(12);
    }
    .options-group {
        .default {
            height: 80px;
            &:before {
                top: 30px;
            }
        }
        &.active {
            .default {
                &:before {
                    top: 38px;
                }
            }
        }
    }
    .options-group .select {
        top: 72px;
    }
    .option-group .option p {
        flex: 0 0 180px;
    }
    .options-group .option .icon {
        width: 170px;
        height: 72px;
        background-size: contain !important;
    }
    .footer-page {
        padding: 12px 0;
        .copyright {
            margin: 10px auto;
        }
        .nav-bottom {
            margin: 16px 0;
            flex-grow: 0;
            flex-basis: 100%;
            justify-content: center;
            display: flex;
        }
        .socialicons {
            margin: 12px auto;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 100%;
        max-width: 728px;
    }
    .header-page .header-actions {
        padding: 12px 0;
        width: 100%;
        justify-content: center;
    }
    .nav-main {
        flex-direction: column;
        width: 100%;
        font-size: 20px;
        line-height: 32px;
        li {
            margin: 0;
            padding: 12px 10px;
            text-align: left;
        }
    }
    .hero {
        .hld-title {
            width: grid-span(7);
        }
        p {
            font-size: 2.5rem;
        }
    }
    .section-intro .main-article {
        .hld-title {
            width: grid-span(10);
        }
        .hld-title--2 {
            margin-top: 158px;
        }
        .title {
            font-size: 1.875rem;
        }
        .title--large {
            font-size: 2.5rem;
        }
        p {
            font-size: 1rem;
        }
    }
    .section-details .main-article {
        .hld-image {
            flex: 0 0 grid-span(8);
        }
        .box {
            padding: 0 37px 24px 37px;
            .titlelight {
                font-size: 1.375rem;
                line-height: 1.625rem;
            }
        }
    }
    .section-carousel {
        .hld-arrow {
            width: 730px;
        }
        .carousel-item {
            width: 730px;
            .image {
                margin: 36px auto 18px auto;
            }
            .item-details {
                width: grid-span(9);
            }
        }
    }
    .section-contact .hld-title {
        width: grid-span(8);
    }
    .contact-form {
        width: grid-span(11);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 100%;
        max-width: 960px;
    }
    .header-page .header-actions {
        padding: 12px 0;
        width: 100%;
        justify-content: center;
    }
    .nav-main {
        flex-direction: column;
        width: 100%;
        font-size: 20px;
        line-height: 32px;
        li {
            margin: 0;
            padding: 12px 10px;
            text-align: left;
        }
    }
    .hero {
        .hld-title {
            bottom: 32px;
        }
        p {
            font-size: 2.875rem;
        }
    }
    .section-details .main-article {
        .hld-image {
            -ms-flex: 0 0 grid-span(8);
            flex: 0 0 grid-span(8);
        }
        .box {
            padding: 0 77px 24px 77px;
            .titlelight {
                font-size: 1.75rem;
                line-height: 2.25rem;
            }
        }
    }
    .section-carousel {
        .hld-arrow {
            width: 730px;
        }
        .carousel-item {
            width: 730px;
            .image {
                margin: 36px auto 18px auto;
            }
            .item-details {
                width: grid-span(9);
            }
        }
    }
    .section-contact .hld-title {
        width: grid-span(6);
    }
    .contact-form {
        width: grid-span(8);
    }
}

@media (min-width: 1200px) and (max-width: 1438.98px) {
    .container {
        width: 100%;
        max-width: 1392px;
    }
    .section-carousel {
        .hld-arrow {
            width: 730px;
        }
        .carousel-item {
            width: 730px;
            .image {
                margin: 36px auto 18px auto;
            }
        }
    }
}

@media (min-width: 1439px) {
}
