$zindex-sticky: 1000 !default;
$zindex-fixed: 1010 !default;
$zindex-margin: 1020 !default;
$zindex-video: 1030 !default;
$zindex-video-text: 1040 !default;
$zindex-header: 1100 !default;

$font-header: 'CupraLight', sans-serif;
$font-primary: 'CupraRegular', sans-serif;
$font-book: 'CupraBook', sans-serif;
$font-medium: 'CupraMedium', sans-serif;
$font-light: 'CupraLight', sans-serif;

$color-primary: #242221;

$color-nav-bar: #dbdbdb;

$input-color: #242221;
